.div_logo{
    text-align: center;
    transition: transform .4s;
}
.div_logo:hover{
    text-align: center;
    -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
  overflow: hidden;
}

.discover{
   text-align: center; 
}